<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack 0</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.bundle.js" defer></script> <!-- Update JavaScript path -->
    <!-- <script src="./app.js" defer></script> -->
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="<%= require('./images/webpack-logo.png') %>" alt="webpack logo" class="banner"> -->
            <img src="<%= require('./images/webpack-logo.png') %>" alt="webpack logo" class="banner">
            <h1>Webpack 0</h1>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </div>
</body>
</html>