*{
    margin: 0; padding:0;
}
img{
    width: 100%;
}
body{
    background: #000000;
    color: #FFF;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 0 20px;
    background: #181515;
}
.banner{
    max-width: 300px;
}
.bg-red{background-color: #F00};